<div class="footer">
  <div class="epicAppLimited2023AllRightsRes">EpicApp Limited Ⓒ 2023. All Rights Reserved.</div>
  <div class="group7"><div class="contactUs700555000">Contact Us: 0700555000</div></div>
</div>
<div class="ellipse15"><img src="assets/ellipse-15-icon.svg" alt="" class="icon" /></div>
<div class="_32"></div>
<div class="hiGideon">
  <p class="labelWrapper">
    <span class="label">Hi</span>
    <span class="label2">Gideon</span>
    <span class="label3">,</span>
  </p>
</div>
<div class="welcomeBack">Welcome back</div>
<div class="quickActionsTablet">
  <div class="editProfile">
    <div class="editProfile2">Edit Profile</div>
    <div class="edit_square"><img src="assets/editsquare-icon.svg" alt="" class="icon2" /></div>
  </div>
  <div class="activityLog">
    <div class="activityLog2">Activity Log</div>
    <div class="history"><img src="assets/history-icon.svg" alt="" class="icon3" /></div>
  </div>
  <div class="loremIpsum">
    <div class="loremIpsum2">Lorem ipsum</div>
    <div class="ads_click"><img src="assets/adsclick-icon.svg" alt="" class="icon4" /></div>
  </div>
</div>
<div class="carouselTablet">
  <div class="_2"></div>
  <div class="_1"></div>
</div>
<div class="header">
  <div class="logo"><img src="assets/logo-icon.svg" alt="" class="icon5" /></div>
</div>
<cl-left-icon-button></cl-left-icon-button>
<cl-right-icon-button></cl-right-icon-button>
<div class="pagination">
  <cl-icons1></cl-icons1>
  <cl-icons1></cl-icons1>
  <cl-icons1></cl-icons1>
  <cl-icons1></cl-icons1>
  <cl-icons1></cl-icons1>
</div>
<div class="inBanner1"></div>
<div class="discover">Discover</div>
<div class="discoverCardsTablet">
  <div class="myTasksTablet">
    <div class="rectangle3"></div>
    <div class="myTasks">My Tasks</div>
    <div class="loremIpsumIsAPlaceholderTextCo">
      Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
    </div>
    <div class="checklist"><img src="assets/checklist-icon.svg" alt="" class="icon6" /></div>
  </div>
  <div class="myGvtTablet">
    <div class="rectangle5"></div>
    <div class="myApps">My Apps</div>
    <div class="loremIpsumIsAPlaceholderTextCo2">
      Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
    </div>
    <div class="apps"><img src="assets/apps-icon.svg" alt="" class="icon7" /></div>
  </div>
  <div class="myAppsTablet">
    <div class="rectangle4"></div>
    <div class="myGov">My Gov</div>
    <div class="loremIpsumIsAPlaceholderTextCo3">
      Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
    </div>
    <div class="checklist2"><img src="assets/checklist-icon2.svg" alt="" class="icon8" /></div>
  </div>
</div>
<div class="inPublishingAndGraphicDesignLo">
  In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a
  document or a typeface without relying on meaningful content.
</div>
<div class="frame6044"></div>
