:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 4px;
}
.container {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  background-color: #6750a4;
  overflow: hidden;
}
.stateLayer {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px;
}
