/* You can add global styles to this file, and also import other style files */
cl-root {
  font-family: sans-serif;
  background-color: #f5f5f5;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
